name: Powershell

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  bruteforce:
    strategy:
      matrix:
        os: [windows-2022, windows-2019]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v5
    - name: Install Office
      run: choco install office2019proplus
    #- name: Activate Office
    #  working-directory: C:\Program Files (x86)\Microsoft Office\Office16
    #  run: cscript ospp.vbs /inpkey:$OFFICE_ACTIVATION_CODE
    #  env:
    #    OFFICE_ACTIVATION_CODE: ${{secrets.OFFICE_ACTIVATION_CODE}}  
    - name: Run script
      run: .\BruteForceExcelWorkbookPassword.ps1 "book1.xlsx"
      shell: powershell
  tag:
    name: Tag Release
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: '0'
    - name: Bump version and push tag
      uses: anothrNick/github-tag-action@1.75.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        WITH_V: true
